.header-container{
    padding: 20px 30px;
    @include media-breakpoint-down(lg){
        padding:15px;
    }
    .page-logo{
        height: 65px;
        width: 65px;
        @include media-breakpoint-down(lg) {
            height: 8vh;
            width: 20vw;
        }
    }
    .header-title{
        font-size: 28px;
        font-family:$lato-bold;
    }
}

// worldwide container
.world-wide-container{
    overflow-x: auto;
    font-size: 25px;
    font-family: $lato-semibold;
    padding: 20px 30px;
    font-weight: 700;

    @include media-breakpoint-down(lg){
        padding:15px;
    }
    .card-death{
        // background-color: #ff6363;
        background-color: #d8b9c3;
        border: 5px solid hsla(0,0%,100%,.28);
    }
    .card-confirmed-cashes{
        // background-color: #88fcf0;
        // background-color: #962752;
        background-color: #d8b9c3;
        border: 5px solid hsla(0,0%,100%,.28);
    }
    .card-recovery{
        // background-color: #20e47d;
        background-color: #d8b9c3;
        border: 5px solid hsla(0,0%,100%,.28);
    }
}

.card-style{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -webkit-overflow-scrolling: touch;
    position: relative;
    border-radius: 2px;
    height: 300px;
    width: 300px;
    margin: 10px;
    flex: 0 0 auto;
    @include media-breakpoint-down(lg){
        height: 150px;
        width: 165px;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

.blur-effect{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(100px);
}


// =================================
// text-colors
// =================================
.text-color-white{
    color: #fff;
}

.color-text-green{
    color: #EB5569;
}

.text-color-card{
    color: #827397;
}

.color-card-text{
    color:#4d4c7d;
}
